@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: 
        url(./img/banner.png);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.box {
    background-color: rgba(255, 255, 255, 0); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
    width: 700px;
    padding: 20px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: 
        translate(-50%,-50%);
    color: white
}

.icon-container {
    display: flex;
    align-items: center;
    font-size: 1em; 
}

.view-count {
    margin-left: 5px; 
}

.name {
    background: linear-gradient(50deg, rgba(255,255,255,1) 20%, rgba(66,27,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 36px; 
    font-weight: bold; 
    text-shadow: 0 0 7px #ffffff49; 
}

.tooltip-container {
    position: relative; 
    display: inline-block; 
}

.tooltip-container .tooltip {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    visibility: hidden; 
    width: 120px; 
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 25px; 
    padding: 5px; 
    position: absolute; 
    z-index: 1; 
    bottom: 125%; 
    left: 50%;
    margin-left: -60px;
    margin-bottom: 0;
    opacity: 1;

}

.tooltip-container:hover .tooltip {
    opacity: 0.5;
    animation: opacity 0.5s ease-in alternate;
    visibility: visible; 
    opacity: 1; 
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
}

.socials a{
    color: inherit;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.socials svg {
    transition: transform 0.4s ease-in-out; 
}

.socials svg:hover {
    transform: scale(1.2); 
}

.info {
    text-align: center;
    display: grid;
    margin-top: 15px;
}

.avatar {
    display: flex;
    justify-content: center;
}

.avatar, .info, .socials, .audio-player {
    opacity: 0;  /* Początkowo niewidoczne */
    animation: fadeIn 1.5s forwards ease-out;  /* Animacja pojawiania się */
    animation-delay: 1.5s;  /* Opóźnienie pojawienia się dla pierwszego elementu */
}

.info {
    animation-delay: 2s;  /* Opóźnienie pojawienia się dla info */
}

.audio-player {
    animation-delay: 2.5s;  /* Opóźnienie pojawienia się dla socials */
}

.socials {
    animation-delay: 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.audio-player {
    font-family: 'Courier New', Courier, monospace;
    width: 300px;
    margin: 5px auto;
    margin-top: -20px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.controls button {
    background-color: #00000000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #00000000;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #00000000;
    border: solid white 2px;
    border-radius: 10px;
    margin-top: 10px;
}

.progress {
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 0;
}

.time {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

.socials {
    display: flex;
    flex-direction: row;
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
